<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Sakura map</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>

    <div id="map"></div>
    <script>

      var data = {{sakura_data|tojson}}

      var currentInfoWindow;

      function initMap() {
        var tokyo = {lat: 35.6337, lng: 139.694};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: tokyo
        });

        data.forEach(addMarker)

        function addMarker(item, index) {
            var description = "<a  target=\"_blank\" href=\""+item['url']+""+"\">ad page</a>"

            function concatenate_descriptions(item){
              current = "<b> " + item['price'] + "</b> Yen per day <br />" +  item['type'] + "<br/>"
              description = description +  "<br /> <br /> <br />"  + current
            }
            
            item['subproperties'].forEach(concatenate_descriptions)

            var infowindow = new google.maps.InfoWindow({
                content: description
            }); 
            var marker = new google.maps.Marker({
                position: item['location'],
                map: map,
                title: 'some property'
              });
              marker.addListener('click', function() {
                if (currentInfoWindow)
                    currentInfoWindow.close();
                infowindow.open(map, marker);
                currentInfoWindow = infowindow;
              });
        }


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key|safe}}&callback=initMap">
    </script>
  </body>
</html>
